*{
    padding: 0;
    margin: 0;
}

body{
    background-color: darkgray;
}

nav{
    display: flex;
    background-color: white;
    height: 80px;
}

.logo{
    display: flex;
    align-self: center;
    font-size: 30px;
    margin: 50px;
}

.logo b{
    align-self: center;
    padding-left: 10px;
}

.menu{
    display: flex;
    list-style: none;
}

.menu li{
    align-self: center;
    padding: 31px;
}

.menu>li:hover>a{
    color: orangered;
}

.menu>li>a{
    position: relative;
    padding-bottom: 20px;
}

.menu>li>a::before{
    content:"";
    height: 4px;
    /* width: 0px; */
    background-color: orangered;
    position: absolute;
    bottom: 0px;
    /* left: -3px;  */
}

.menu>li:hover>a::before{
    width: 100%;
}

.main{
    display: flex;
    margin: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 10px;
    font-size: 17px;
}

.text{
    padding: 5px;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
}


.img{
    object-fit: cover;
    width: 300px; 
    height: 150px;
}

#tag{
    color: red;
    font-size: 30px;
    padding: 10px;
    padding-top: 20px;
}

.item-bottom-body{
    display: flex;
    align-items: center;
}



